## Ejercicio 35
Para los usuarios nativos (o superior) en español obtenga una serie cuyo índice sea
el idioma y valor sea el nivel promedio

In [1]:
import pandas as pd
import numpy as np

In [2]:
languages = pd.read_csv("languages.csv")

In [3]:
languages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35666 non-null  object
dtypes: int64(1), object(2)
memory usage: 836.0+ KB

In [4]:
# Droppedo los nulls para luego no tener lengs nullos con valores.
languages_nan_dropped = languages.dropna()
languages_nan_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35662 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35662 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35662 non-null  object
dtypes: int64(1), object(2)
memory usage: 1.1+ MB

In [10]:
languages_nan_dropped.tail()

       babel_user  babel_lang babel_level
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

In [31]:
#
languages_nan_dropped = languages.dropna()
languages_nan_dropped.tail()

       babel_user  babel_lang babel_level
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

In [45]:
languages_nan_dropped.replace({'N':'4.5'},inplace=True)
languages_nan_dropped.tail()

AttributeError: 'NoneType' object has no attribute 'replace'

In [33]:
# convertir la lista en un set para mejorar la complejidad
languages_nan_dropped['babel_level'].value_counts()
# usar isin()

4.5    11533
1       7589
2       6452
3       5850
4       2504
0       1090
5        644
Name: babel_level, dtype: int64

In [36]:
col = pd.to_numeric(languages_nan_dropped['babel_level'])
col

0        2.0
1        0.0
2        0.0
3        1.0
4        0.0
        ...
35661    1.0
35662    3.0
35663    0.0
35664    0.0
35665    4.5
Name: babel_level, Length: 35662, dtype: float64

In [37]:
del languages_nan_dropped['babel_level']
languages_nan_dropped['babel_level'] =  col 
languages_nan_dropped.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35662 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35662 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35662 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 1.1+ MB

In [41]:
groped = languages_nan_dropped.groupby(['babel_lang'])
es_users = groped.get_group('es')
es_users_native = es_users.loc[es_users['babel_level'] >= 4.5]
es_users_native

       babel_user babel_lang  babel_level
15166       15689         es          5.0
15167       16907         es          5.0
15168       27496         es          5.0
15169       34643         es          5.0
15170       40109         es          5.0
...           ...        ...          ...
24100     6305012         es          4.5
24101     6306637         es          4.5
24102     6327193         es          4.5
24103     6327824         es          4.5
24104     6332447         es          4.5

[8939 rows x 3 columns]

In [42]:
languages_nan_dropped = languages_nan_dropped.loc[languages_nan_dropped['babel_user'].isin(es_users_native['babel_user'])]
languages_nan_dropped.head()

    babel_user babel_lang  babel_level
0      4502458         FR          2.0
2        46918         ab          0.0
6      4494742        acf          1.0
11     1158865         af          1.0
12     4673052         af          1.0

In [43]:
# Ahora hago el promedio de todos los lenguajes
lan_grouped = languages_nan_dropped.groupby(['babel_lang']).agg({'babel_level':['mean']})
lan_grouped

           babel_level
                  mean
babel_lang
FR            2.000000
ab            0.000000
acf           1.000000
af            1.250000
agr           1.000000
...                ...
yua           3.000000
yue           3.000000
zh            1.361111
zh-Hans-CN    4.500000
zu            0.000000

[178 rows x 1 columns]